@import "https://fonts.googleapis.com/css?family=Poppins";

* {
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    margin: 0;
    background-color: #efefef;
    font-family: 'Poppins', sans-serif;
    height: 560px;
}

.modal button{
    background-color: #47a386;
    color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    font-size: 14px;
}
.content {
    margin-top: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* width: 100%; */
}

.content img {
    align-self: center;
    border-radius: 5px;
    width: 40%;
    height: 450px;
}

.content button{
    margin: 20px;
    align-self: center;
    background-color: #5799e4;
    color: white;
    border: 0;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    font-size: 14px;
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer > span {
    color:#5799e4;
    opacity: 0.5;
}

footer > span > a {
    text-decoration: none;
}

/* Navbar */
nav {
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    overflow: hidden;
    
}

nav h2 {
    color: #0594ec;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.burger {
    border: 0;
    background-color: transparent;
    color: #0594ec;
    font-size: 20px;
    display: none;
}

.burger:focus{
    outline: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #5799e4;
    position: relative;
}

nav ul li a::after{
    content: '';
    background-color: #5799e4;
    position: absolute;
    left: 0;
    bottom: -18px;
    height: 2px;
    width: 100%;
    opacity: 0;
    transition: transform 0.2s ease;
}

nav ul li a:hover::after{
    background-color: crimson;
    opacity: 1;
}
#open{
    font-style: bold;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
    .content img {
        width: 100%;
        height: 100%;
    }

    .content button{
        width: 70%;
    }

    /* Navbar responsiveness */
    .burger {
        display: block;
    }
    nav ul {
        border-radius: 5px;
       
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
    }

    nav ul.show {
        transform: translateX(0);
    }

    nav ul li {
        margin: 15px;
    }
    .content img {
        align-self: center;
        border-radius: 5px;
        width: 40%;
        height: 250px;
    }
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding: 00px 00px;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    border-radius: 5px;
    background-color: white;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-content: center;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: red;
    float: right;
    top: 0px;
    font-size: 28px;
    font-weight: bold;
  }
  
   .close:hover,
   .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* baloons */
#balloon-container {
    height: 350px;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .balloon {
    height: 60px;
    width: 54px;
    border-radius: 75% 75% 70% 70%;
    position: relative;
  }
  
  .balloon:before {
    content: "";
    height: 75px;
    width: 1px;
    padding: 1px;
    background-color: #FDFD96;
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .balloon:after {
      content: "▲";
      text-align: center;
      display: block;
      position: absolute;
      color: inherit;
      top: 120px;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  @keyframes float {
    from {transform: translateY(100vh);
    opacity: 1;}
    to {transform: translateY(-300vh);
    opacity: 0;}
  }